<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap_template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Book</title>
</head>
<body>
    <article class="book">
      
      <div class="row">
        <h2 class="title">{{ book['title'] }}</h2>
      </div>

      <div class="row d-flex justify-content-between">
        <div class="col">
          <strong></strong>
          <p class="fs-5"><strong class="fs-4">Author(s): </strong>{{ book['author'] }}</p>
          <p class="fs-5"><strong class="fs-4">Description: </strong>{{ book['desc'] }}</p>
          <p class="fs-5 genre"><strong class="fs-4">Genre: </strong>{{ book['genre'] }}</p>
          <p class="fs-5"><strong class="fs-4">Bookformat: </strong>{{ book['bookformat'] }}</p>
          <p class="fs-5"><strong class="fs-4">ISBN: </strong>{{ book['isbn'] }}</p>
          <p class="fs-5"><strong class="fs-4">Pages: </strong>{{ book['pages'] }}</p>
          <p class="fs-5"><strong class="fs-4">Rating: </strong>{{ book['rating'] }}</p>
          <p class="fs-5"><strong class="fs-4">Total Ratings: </strong>{{ book['totalratings'] }}</p>
          <p class="fs-5"><strong class="fs-4">Reviews: </strong>{{ book['num_reviews'][0]|int() }}</p>
        </div>
        <div class="col d-flex justify-content-center">        
            <figure class="figure">
              <img class="figure-img" src="{{ book['img'] }}" alt="{{ book['title'] }}">
              <figcaption class="figure-caption"><a href="{{ book['link'] }}">Link to book on GoodReads</a></figcaption>
            </figure>
        </div>
      </div>
      <div class="row d-flex flex-column">
        <h3>Reviews:</h3>
        {% for review in book['reviews']%}
        <div class="smallBook my-3 mx-0 mw-100 review text-justify">
          {{ review['review'] }}
        </div>
        {% endfor %}
      </div>
    </article>
</body>
</html>