<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap_template.css') }}">
    <title>Homepage</title>
</head>
<body>
    <div class="bookSearch d-flex flex-column justify-content-center">
        <div class="d-flex d-inline-block justify-content-center">
            <label class="form-label" for="form1"><h1>Book Search</h1></label>
        </div>
        <div class="d-inline-block d-flex justify-content-center">
            <div class="form-outline w-75">
                <input type="search" id="form1" class="form-control" />
            </div>
            <button type="button" class="btn btn-primary w-20">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="footer">
            
        </div>
    </div>
</body>
</html>